{% extends "base.html" %}
{% block content %}
<style>
    #front-card
    {
        position:absolute;
        width: 500px;
        height: 600px;
        background-image: linear-gradient(rgb(206, 208, 210),rgb(84, 84, 84));
        text-align: center;
        align-items: center;
        left: 460px;
        top: 130px;
        border-radius: 5px;
        box-shadow: 3px 6px 20px 5px;
    }
    form>label,input,button
    {
        position: relative;
        display:flex;
        left: 100px;
        top: 50px;
        font-size: 20px;
        margin-top: 20px;
    }
    form>label,input
    {
        left: 125px;
    }
    form>button
    {
        background:transparent;
        width:300px;
        padding-left: 110px;
        top: 90px;
        cursor: pointer;
        color: white;
        border-color: white;
        transition: all 0.5s;
    }
  
    form>button:hover
    {
        transform: translateY(-2px);
        border-color: rgb(228, 225, 225);
        color: rgb(180, 178, 178);
        box-shadow: 0.5px 0.5px 1px 1px;
    }
    </style>


<div id="front-card" >
    <h1>Register</h1>
    <form action="">
        <label for="Email">Email</label>
        <input type="text" name="" id="">
        <label for="Name">Name</label>
        <input type="text" name="" id="">
        <label for="Password">Password</label>
        <input type="password" name="" id="">
        <label for="Password">Repeat Password</label>
        <input type="password" name="" id="">
        <button type="button" >Submit!</button>
    </form>
</div>


{% endblock %}